{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% endblock %}

{% block userlinks %}
<form action="{% url 'set_language' %}" method="post" style="display: inline-block; margin-right: 15px;">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path }}">
    <select name="language" onchange="this.form.submit()" style="cursor: pointer;">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang_code, lang_name in LANGUAGES %}
            <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                {{ lang_name }}
            </option>
        {% endfor %}
    </select>
</form>
{% if user.is_active and user.is_staff %}
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> /
{% endif %}
{% if user.has_usable_password %}
<a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
{% endif %}
<a href="{% url 'admin_reset_cache' %}">{% translate 'Reset Cache' %}</a> /
<form method="post" action="{% url 'admin:logout' %}" style="display: inline; margin: 0;">
    {% csrf_token %}
    <button type="submit" style="background: none; border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); color: var(--header-link-color); cursor: pointer; padding: 0; font-size: 0.6875rem; text-transform: uppercase;">{% translate 'Log out' %}</button>
</form>
{% endblock %}
